{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>6 Best game winners in the NBA Playoffs</h1>
    <p class="lead">
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Photo Album</h2>
        <p>
            Please press the Photo Album section in the navigation bar to go to my photo album or press the button below me.
        </p>
        <p><a class="btn btn-default" href="{{ url_for('album') }}">Photo Album &raquo;</a></p>

{% endblock %}
